@page "/login"
<h3>Login</h3>

<RadzenTemplateForm Data="@login" Submit="@((SMU.LoginModel user) => { SubmitLogin(user); })">
    <RadzenFieldset>

        <div class="col-md-4 align-items-center d-flex mb-1">
            <RadzenLabel Text="E-mail" />
        </div>
        <div class="col-md-8 mb-2">

            <RadzenTextBox @bind-Value="login.Email" Placeholder="E-mail" Name="E-mail">
            </RadzenTextBox>
        </div>

        <div class="col-md-4 align-items-center d-flex mb-1">
            <RadzenLabel Text="Password" />
        </div>
        <div class="col-md-8 mb-2">
            <RadzenPassword @bind-Value="login.Password" Placeholder="Password" Name="Password"></RadzenPassword>

        </div>

        <div class="row justify-content-center">
            <div class="col-md-12 d-flex align-items-end justify-content-center">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="login" Text="Login" />
            </div>
        </div>

    </RadzenFieldset>
    
</RadzenTemplateForm>

<h4 class="m-5"> Register down below</h4>


<RadzenTemplateForm  Data="@register" Submit="@((SMU.RegisterModel user) => { SubmitRegister(user); })">
    <RadzenFieldset Text="Register">
        <div class="row">

            <div class="col-md-4 align-items-center d-flex mb-1">
                <RadzenLabel Text="First name" />
            </div>
            <div class="col-md-8 mb-2">

                <RadzenTextBox @bind-Value="register.FirstName" Placeholder="First name" Name="First Name">
                </RadzenTextBox>
            </div>

            <div class="col-md-4 align-items-center d-flex mb-1">
                <RadzenLabel Text="Last name" />
            </div>
            <div class="col-md-8 mb-2">
                <RadzenTextBox @bind-Value="register.LastName" Placeholder="Last name" Name="Last Name">
                </RadzenTextBox>
            </div>

            <div class="col-md-4 align-items-center d-flex mb-1">
                <RadzenLabel Text="E-mail" />
            </div>
            <div class="col-md-8 mb-2">
                <RadzenTextBox @bind-Value="register.Email" Placeholder="E-mail" Name="E-mail">
                </RadzenTextBox>
            </div>

            <div class="col-md-4 align-items-center d-flex mb-1">
                <RadzenLabel Text="Password" />
            </div>
            <div class="col-md-8 mb-2">
                <RadzenPassword @bind-Value="register.Password" Placeholder="Password" Name="Password"></RadzenPassword>

            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Register" />
            </div>
        </div>

    </RadzenFieldset>
    
</RadzenTemplateForm>

@code {
    private SMU.LoginModel login { get; set; }
    private SMU.RegisterModel register { get; set; }

    protected override void OnInitialized()
    {
        login = new SMU.LoginModel();
        register = new SMU.RegisterModel();
    }



    private async Task SubmitLogin(SMU.LoginModel user)
    {
        var response = await Http.PostAsJsonAsync<SMU.LoginModel>("https://localhost:44374/api/Users/login", user);

        await sessionStorage.SetItemAsync<string>("authenticated", await response.Content.ReadAsStringAsync());
        

        NavManager.NavigateTo("/");
    }

    async Task SubmitRegister(SMU.RegisterModel user)
    {
        await Http.PostAsJsonAsync<SMU.RegisterModel>("https://localhost:44374/api/Users/register", user);
    }



}
